@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
    background: #333;
}

a {
    color: #999;
    text-decoration: none;
}

.map {
    background: #333;
    position: fixed;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

.hide {
    display: none;
}

h1.title {
    position: fixed;
    top: 20px;
    z-index: 10;
    left: 50%;
    transform: -ms-translateX(-50%);
    transform: -moz-translateX(-50%);
    -webkit-transform: -webkit-translateX(-50%);
            transform: -webkit-translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    color: #777;
}

#vizualization-type {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 11;
}

small {
    font-size: 0.5em;
    position: relative;
    top: 20px;
    left: -70px;
}

.patreon {
    right: 0;
    text-align: right;
}
.patreon,
.description {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.19);
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.3;
    border-radius: 2px;
    width:50%;
    color:#aaa;
}

.description {
    left: 0;
}

.github-corner:hover .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out
}

@-webkit-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg)
    }
}

@keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0)
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg)
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        -webkit-animation: none;
                animation: none
    }

    .github-corner .octo-arm {
        -webkit-animation: octocat-wave 560ms ease-in-out;
                animation: octocat-wave 560ms ease-in-out
    }
    h1.title {
        font-size: 1.5em
    }
}
